body{
	align-content: center;
	background-color: #fff;

}
td{
	border-style: groove;
	border-color: black;
	border-width: thin;	
}
th{
	border-style: groove;
	border-color: black;
	border-width: thin;	
}